<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>896412001240-m3ijikab709e3p68d9mr866q09c6nprn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896412001240-m3ijikab709e3p68d9mr866q09c6nprn</string>
	<key>API_KEY</key>
	<string>AIzaSyA8NBACphenb_ko1nIoBPfAKqy96n_MKCo</string>
	<key>GCM_SENDER_ID</key>
	<string>896412001240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.sourcecode.es2016</string>
	<key>PROJECT_ID</key>
	<string>banamex-escuderia</string>
	<key>STORAGE_BUCKET</key>
	<string>banamex-escuderia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:896412001240:ios:deacb6559aa488a8</string>
	<key>DATABASE_URL</key>
	<string>https://banamex-escuderia.firebaseio.com</string>
</dict>
</plist>